<mat-form-field appearance="fill" class="wide-select">
  <mat-label>Filter</mat-label>
  <mat-select
    [panelWidth]="500"
    [(value)]="selectedKindergartenId"
    (selectionChange)="filterByKindergarten()">
    <mat-option value="">Alle Kindergärten</mat-option>
    <mat-option *ngFor="let kg of storeService.kindergardens" [value]="kg.id">
      {{ kg.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-table
  [dataSource]="storeService.children"
  class="mat-elevation-z8"
  matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let child"> {{ child.name }}</mat-cell>
  </ng-container>

  <!-- Kindergarden Column -->
  <ng-container matColumnDef="kindergarden">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Kindergarten
    </mat-header-cell>
    <mat-cell *matCellDef="let child"> {{ child.kindergarden.name }}</mat-cell>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
    <mat-cell *matCellDef="let child">
      {{ child.kindergarden.address }}
    </mat-cell>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef> Alter</mat-header-cell>
    <mat-cell *matCellDef="let child"> {{ getAge(child.birthDate) }}</mat-cell>
  </ng-container>

  <!-- Birthdate Column -->
  <ng-container matColumnDef="birthdate">
    <mat-header-cell *matHeaderCellDef> Geburtsdatum</mat-header-cell>
    <mat-cell *matCellDef="let child">
      {{ child.birthDate | date: 'longDate' }}
    </mat-cell>
  </ng-container>

  <!-- Register Column -->
  <ng-container matColumnDef="registerDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Registrierung
    </mat-header-cell>
    <mat-cell *matCellDef="let child">
      {{ child.registerDate | date: 'longDate' }}
    </mat-cell>
  </ng-container>

  <!-- Unregister Button Column -->
  <ng-container matColumnDef="unregister">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let child">
      <button
        [disabled]="spinnerService.isLoading$ | async"
        mat-button
        (click)="cancelRegistration(child.id)">
        Kind abmelden
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [disabled]="spinnerService.isLoading$ | async"
  [length]="this.storeService.childrenTotalCount"
  [pageSize]="this.pageSize"
  [pageSizeOptions]="[5, 10, 15]"
  (page)="selectPageV2($event)">
</mat-paginator>
