<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>Ihr Kind anmelden!</mat-card-header>
    <mat-card-content>
      <form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="addChildForm.get('name').errors?.required">
            Name ist erforderlich
          </mat-error>
          <mat-error *ngIf="addChildForm.get('name').errors?.minlength">
            Der Name muss mindestens 3 Zeichen lang sein
          </mat-error>
          <mat-error *ngIf="addChildForm.get('name').errors?.maxlength">
            Der Name darf nicht länger als 20 Zeichen sein
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Geburtsdatum</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate" />
          <mat-error
            *ngIf="addChildForm.get('birthDate').errors?.dateBeforeToday">
            Geburtstag muss mindestens ein Jahr in der Vergangenheit liegen
          </mat-error>

          <mat-error
            *ngIf="addChildForm.get('birthDate').errors?.noDateSelected">
            Geburtsdatum ist erforderlich
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Kindergarten</mat-label>
          <mat-select formControlName="kindergardenId">
            <mat-option value="" disabled>Bitte auswählen</mat-option>
            <mat-option
              *ngFor="let kinderGarden of storeService.kindergardens"
              [value]="kinderGarden.id">
              {{ kinderGarden.name }}, {{ kinderGarden.address }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="addChildForm.get('kindergardenId').errors?.required">
            Bitte wählen Sie einen Kindergarten aus
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="
            !addChildForm.valid || (spinnerService.isLoading$ | async)
          ">
          > Erfassen
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
