<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Ihr Kind anmelden!</mat-card-title>
    <mat-card-content>
      <form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="isFieldInvalid('name')">
            Name ist nicht gültig
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Geburtsdatum</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate" />
          <mat-error *ngIf="isFieldInvalid('birthDate')"
            >Geburtsdatum nicht gültig</mat-error
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Kindergarten</mat-label>
          <mat-select formControlName="kindergardenId">
            <mat-option value="" disabled>Bitte auswählen</mat-option>
            <mat-option
              *ngFor="let kinderGarden of storeService.kindergardens"
              [value]="kinderGarden.id">
              {{ kinderGarden.name }}, {{ kinderGarden.address }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('kindergardenId')"
            >Auswahl nicht korrekt</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="spinnerService.isLoading$ | async">
          Erfassen
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
